# Zona de Pruebas

Este notebook se usa para probar la funcionalidades y aprender como funciona realmente la librer√≠a.

In [2]:
from ctgan import load_demo
real_data = load_demo()[:1000]

In [3]:
from CraftingTable import TVAE, CTGAN, TabDDPM_ResNet, TabDDPM_MLP, TabSyn 

tvae = TVAE()
ctgan = CTGAN()
# tabddpm_resnet = TabDDPM_ResNet()
# tabddpm_mlp = TabDDPM_MLP()
tabsyn = TabSyn()

c:\Users\velil\Desktop\TFG_Final\.venv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
print(tvae)
print(ctgan)
# print(tabddpm_resnet)
# print(tabddpm_mlp)
print(tabsyn)

TVAE(embedding_dim=128, compress_dims=(128, 128), decompress_dims=(128, 128))
CTGAN(embedding_dim=128, generator_dim=(256, 256), discriminator_dim=(256, 256))
TabSyn(d_in=None, dim_t=512)

In [5]:
discrete_columns = [
    'workclass',
    'education',
    'marital-status',
    'occupation',
    'relationship',
    'race',
    'sex',
    'native-country',
    'income'
]
epochs=1000
verbose=True

In [6]:
tabsyn.fit(real_data, discrete_columns=discrete_columns, vae_epochs=600, diffusion_steps=500)

c:\Users\velil\Desktop\TFG_Final\.venv\lib\site-packages\torch\nn\init.py:511: UserWarning: Initializing zero-element tensors is a no-op
  warnings.warn("Initializing zero-element tensors is a no-op")

self.category_embeddings.weight.shape=torch.Size([0, 4])
self.category_embeddings.weight.shape=torch.Size([0, 4])

Epoch 1/600:   0%|          | 0/1 [00:05<?, ?it/s]

KeyboardInterrupt:

In [7]:
samples = tabsyn.sample(10)

Time: 0.669011116027832

In [8]:
samples

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,26,State-gov,-47604,9th,18,Never-married,Exec-managerial,Own-child,Other,Male,158,-36,40,Canada,>50K
1,59,State-gov,251040,1st-4th,14,Widowed,Exec-managerial,Unmarried,Other,Female,10074,3016,63,South,<=50K
2,98,Local-gov,-478624,12th,6,Never-married,Exec-managerial,Husband,Other,Female,22668,2509,58,France,>50K
3,22,?,160910,5th-6th,15,Separated,Exec-managerial,Wife,Other,Male,10074,25,40,France,>50K
4,76,State-gov,769983,Assoc-voc,1,Never-married,Exec-managerial,Husband,Other,Male,10074,-55,-4,France,<=50K
5,79,?,1788458,Assoc-voc,14,Married-AF-spouse,Exec-managerial,Own-child,Other,Male,-12693,55,40,Portugal,>50K
6,16,State-gov,277087,Masters,5,Separated,Exec-managerial,Wife,Other,Female,-3451,55,18,France,<=50K
7,43,Federal-gov,203357,Assoc-voc,11,Divorced,Adm-clerical,Own-child,Other,Male,4896,55,51,Portugal,<=50K
8,59,State-gov,175061,10th,9,Married-civ-spouse,Exec-managerial,Wife,Black,Male,355,3144,25,Jamaica,<=50K
9,80,State-gov,612102,Assoc-acdm,12,Separated,Exec-managerial,Husband,Black,Female,323,1434,45,South,<=50K

In [21]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
report = tabsyn.eval_stat(real_data, test="mahalanobis")

No fake data provided, sampling from the model...
Time: 0.7229156494140625
Sampled 1000 rows of fake data.

In [23]:
tabsyn.eval_stat(real_data, test="two_sample_classifier", classifier=LogisticRegression())

No fake data provided, sampling from the model...
Time: 0.7340211868286133
Sampled 1000 rows of fake data.
Running two-sample classifier test...

c:\Users\velil\Desktop\TFG_Final\.venv\lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

{'statistic': 'two_sample_classifier_accuracy',
 'value': 0.775,
 'report': '              precision    recall  f1-score   support\n\n         0.0       0.91      0.61      0.73       201\n         1.0       0.71      0.94      0.81       199\n\n    accuracy                           0.78       400\n   macro avg       0.81      0.78      0.77       400\nweighted avg       0.81      0.78      0.77       400\n'}

In [24]:
print(report)

{'statistic': 'mahalanobis', 'value': 18.259458096113597}

In [ ]:
from sklearn.linear_model import RidgeClassifier, LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
tabsyn.eval_ml(real_data=real_data, target_name='hours-per-week', task='regression', model=LinearRegression(), metrics=['classification_report'])

Time: 0.7580127716064453

{'real': {'r2_score': -0.15421554723001174},
 'fake': {'r2_score': -0.7220211450608018}}

In [7]:
samples

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,85,?,171317,9th,-1,Widowed,?,Unmarried,Other,Male,-306,1287,99,Iran,>50K
1,50,Federal-gov,132742,Masters,7,Never-married,Adm-clerical,Husband,Amer-Indian-Eskimo,Male,9830,3587,85,Yugoslavia,<=50K
2,96,Never-worked,204079,1st-4th,4,Separated,Protective-serv,Wife,White,Male,-103,8,76,Canada,<=50K
3,38,Without-pay,291968,11th,10,Never-married,?,Wife,Asian-Pac-Islander,Male,9025,3587,33,France,>50K
4,43,Never-worked,154765,11th,7,Separated,Sales,Unmarried,White,Female,6844,5,53,Laos,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26043,50,Private,76817,Assoc-voc,14,Married-civ-spouse,Exec-managerial,Wife,Black,Female,6460,3099,90,United-States,>50K
26044,96,Never-worked,437504,11th,7,Separated,Transport-moving,Wife,Other,Male,17173,3587,27,Philippines,<=50K
26045,43,Self-emp-not-inc,340219,Masters,18,Separated,Adm-clerical,Other-relative,Asian-Pac-Islander,Female,-13,2075,34,Dominican-Republic,>50K
26046,96,?,154030,10th,13,Separated,Craft-repair,Unmarried,Black,Female,7846,1010,7,Iran,<=50K
26047,51,Federal-gov,256962,HS-grad,-2,Separated,Tech-support,Own-child,Other,Male,9025,617,32,Thailand,>50K

In [5]:
tabddpm_mlp.fit(real_data[:100], discrete_columns, steps=1000)

Step 500/1000 - MLoss: 0.0 | GLoss: 0.9533 | Total: 0.9533
Step 1000/1000 - MLoss: 0.0 | GLoss: 0.9501 | Total: 0.9501

In [6]:
tabddpm_resnet.fit(real_data[:100], discrete_columns, steps=1000)

Step 500/1000 - MLoss: 0.0 | GLoss: 0.2718 | Total: 0.2718
Step 1000/1000 - MLoss: 0.0 | GLoss: 0.2202 | Total: 0.2202

In [7]:
tvae.fit(real_data[:100], discrete_columns)

Loss: 4.592: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 300/300 [00:04<00:00, 72.35it/s]

In [8]:
ctgan.fit(real_data[:100], discrete_columns)

Gen. (0.20) | Discrim. (-0.15): 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 300/300 [00:11<00:00, 26.32it/s]

In [9]:
tvae.get_metadata()['model']

{'model_type': 'TVAE',
 'hyperparameters': {},
 'fit_settings': {'times_fitted': 1,
  'fit_history': [{'Time_of_fit': '2025-05-04 11:25:48',
    'Fit_duration': '0:00:04',
    'Loss':      Epoch       Loss
    0        0  47.312416
    1        1  41.219418
    2        2  36.765972
    3        3  35.498333
    4        4  35.515263
    ..     ...        ...
    295    295   5.250002
    296    296   6.302226
    297    297   6.224199
    298    298   5.924520
    299    299   4.592421

    [300 rows x 2 columns]}]},
 'hyperparmeters': {'embeddig_dim': 128,
  'compress_dims': (128, 128),
  'decompress_dims': (128, 128)}}

In [10]:
ctgan.get_metadata()['model']

{'model_type': 'CTGAN',
 'hyperparameters': {},
 'fit_settings': {'times_fitted': 1,
  'fit_history': [{'Time_of_fit': '2025-05-04 11:25:52',
    'Fit_duration': '0:00:11',
    'Loss':      Epoch  Generator Loss  Discriminator Loss
    0        0        1.910680           -0.008687
    1        1        1.932163           -0.043877
    2        2        1.882386           -0.061495
    3        3        1.880321           -0.065540
    4        4        1.828088           -0.129073
    ..     ...             ...                 ...
    295    295        0.109515           -0.016491
    296    296        0.127899           -0.066041
    297    297        0.073714           -0.054687
    298    298        0.185193           -0.009719
    299    299        0.199413           -0.145305

    [300 rows x 3 columns]}]},
 'hyperparmeters': {'embeddig_dim': 128,
  'generator_dim': (256, 256),
  'discriminator_dim': (256, 256)}}

In [11]:
tabddpm_resnet.get_metadata()['model']

{'model_type': 'TabDDPM_ResNet',
 'hyperparameters': {},
 'fit_settings': {'times_fitted': 1,
  'fit_history': [{'Time_of_fit': '2025-05-04 11:25:39',
    'Fit_duration': '0:00:08',
    'Loss':      Loss    Step
    0  0.6269   100.0
    1  0.3771   200.0
    2  0.3215   300.0
    3  0.2894   400.0
    4  0.2718   500.0
    5  0.2614   600.0
    6  0.2442   700.0
    7  0.2350   800.0
    8  0.2234   900.0
    9  0.2202  1000.0}]},
 'hyperparmeters': {'d_in': 84, 'd_out': 84}}

In [12]:
tabddpm_mlp.get_metadata()['model']

{'model_type': 'TabDDPM_MLP',
 'hyperparameters': {},
 'fit_settings': {'times_fitted': 1,
  'fit_history': [{'Time_of_fit': '2025-05-04 11:25:33',
    'Fit_duration': '0:00:05',
    'Loss':      Loss    Step
    0  0.9945   100.0
    1  0.9743   200.0
    2  0.9588   300.0
    3  0.9571   400.0
    4  0.9533   500.0
    5  0.9548   600.0
    6  0.9524   700.0
    7  0.9560   800.0
    8  0.9482   900.0
    9  0.9501  1000.0}]},
 'hyperparmeters': {'d_in': 84, 'd_out': 84}}

In [13]:
tabddpm_mlp.sample(100)

Sample using DDIM.
Sample timestep    0

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,121,State-gov,495625,7th-8th,19,Divorced,Adm-clerical,Other-relative,Amer-Indian-Eskimo,Female,-886,4219,109,South,<=50K
1,121,Self-emp-not-inc,798960,Masters,16,Married-spouse-absent,Other-service,Not-in-family,Black,Female,-15258,4219,48,Honduras,<=50K
2,1,Self-emp-not-inc,798960,Doctorate,-3,Married-AF-spouse,Tech-support,Husband,White,Female,896,-162,32,United-States,<=50K
3,121,State-gov,-145204,Masters,6,Divorced,Machine-op-inspct,Other-relative,Amer-Indian-Eskimo,Female,-15258,-162,109,United-States,<=50K
4,75,?,-145204,7th-8th,16,Married-spouse-absent,Protective-serv,Other-relative,Black,Female,-15258,164,32,South,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,75,?,495625,10th,19,Never-married,Machine-op-inspct,Husband,Asian-Pac-Islander,Male,-886,164,48,Mexico,<=50K
96,21,?,495625,Prof-school,6,Separated,Craft-repair,Other-relative,White,Male,-15258,4219,109,Honduras,<=50K
97,21,Federal-gov,-145204,Some-college,-3,Separated,Transport-moving,Own-child,Other,Female,-15258,-1259,48,England,>50K
98,75,?,-145204,Doctorate,16,Separated,Protective-serv,Own-child,Amer-Indian-Eskimo,Female,-886,-1259,109,Puerto-Rico,<=50K
99,-19,Self-emp-inc,798960,HS-grad,-3,Separated,Transport-moving,Other-relative,White,Female,-15258,4219,48,United-States,<=50K

In [14]:
tabddpm_resnet.sample(100)

Sample using DDIM.
Sample timestep    0

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,121,?,-217336,Assoc-acdm,12,Married-AF-spouse,Handlers-cleaners,Wife,Amer-Indian-Eskimo,Male,-15258,4219,109,Cuba,>50K
1,1,Local-gov,-217336,Some-college,19,Married-spouse-absent,Handlers-cleaners,Not-in-family,Other,Female,27540,-1259,109,Cuba,>50K
2,21,?,798960,9th,12,Divorced,Machine-op-inspct,Unmarried,Other,Male,27540,-1259,48,Cuba,>50K
3,1,State-gov,-145204,Some-college,7,Married-AF-spouse,Machine-op-inspct,Unmarried,Asian-Pac-Islander,Male,896,-162,-24,Mexico,>50K
4,121,Federal-gov,-145204,Assoc-voc,6,Married-civ-spouse,Other-service,Wife,Other,Male,27540,-162,48,South,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,75,Self-emp-inc,495625,9th,19,Married-AF-spouse,Handlers-cleaners,Husband,White,Male,27540,4219,109,Puerto-Rico,>50K
96,-19,Self-emp-not-inc,798960,Doctorate,19,Married-AF-spouse,Transport-moving,Other-relative,Amer-Indian-Eskimo,Female,27540,4219,109,South,>50K
97,-19,Federal-gov,-217336,Masters,6,Married-AF-spouse,?,Not-in-family,Amer-Indian-Eskimo,Male,27540,4219,109,South,<=50K
98,121,Federal-gov,-217336,Assoc-voc,6,Never-married,Handlers-cleaners,Other-relative,Other,Female,-15258,4219,109,Puerto-Rico,>50K
99,-19,Self-emp-inc,798960,Assoc-acdm,6,Separated,?,Other-relative,Amer-Indian-Eskimo,Female,-15258,4219,48,South,<=50K

In [15]:
ctgan.sample(100)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,28,Federal-gov,-4312,HS-grad,8,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,72,40,-14,United-States,<=50K
1,6,Private,22662,Some-college,10,Never-married,Sales,Unmarried,White,Male,-56,-15,43,?,<=50K
2,30,Private,167204,HS-grad,10,Never-married,Prof-specialty,Not-in-family,White,Female,-129,-8,15,United-States,>50K
3,23,Private,55609,Bachelors,8,Never-married,Exec-managerial,Not-in-family,White,Male,-25,37,75,Jamaica,<=50K
4,15,Private,45773,Bachelors,12,Separated,Other-service,Unmarried,White,Female,481,-26,65,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,50,State-gov,188045,5th-6th,7,Divorced,Prof-specialty,Husband,White,Male,-211,-26,15,United-States,>50K
96,39,Federal-gov,268452,Some-college,10,Married-civ-spouse,Protective-serv,Not-in-family,White,Female,3475,-2,49,United-States,<=50K
97,14,Private,-44568,Some-college,8,Married-civ-spouse,Machine-op-inspct,Own-child,White,Male,-405,50,36,United-States,<=50K
98,41,Local-gov,182463,7th-8th,8,Never-married,Prof-specialty,Husband,White,Male,409,96,80,United-States,<=50K
99,35,Self-emp-inc,33282,Masters,5,Divorced,Prof-specialty,Wife,White,Male,-23,-1,21,England,<=50K

In [16]:
tvae.sample(100)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,28,Private,79451,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,-38,-2,41,United-States,<=50K
1,26,Private,145423,HS-grad,10,Never-married,Other-service,Own-child,White,Male,40,-4,39,United-States,<=50K
2,47,Private,151960,Bachelors,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,-8,-2,40,United-States,<=50K
3,30,Private,232602,HS-grad,9,Never-married,Other-service,Not-in-family,White,Male,51,1,39,United-States,<=50K
4,31,Private,281315,Some-college,9,Never-married,Sales,Not-in-family,White,Male,-19,-1,38,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,22,Private,161728,Some-college,10,Married-civ-spouse,Prof-specialty,Not-in-family,White,Male,59,1,37,United-States,<=50K
96,52,Private,168715,Some-college,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,-73,2,38,United-States,<=50K
97,13,Private,265141,Some-college,10,Married-civ-spouse,Sales,Not-in-family,White,Male,40,-9,52,United-States,<=50K
98,38,Private,210596,Some-college,15,Married-civ-spouse,Prof-specialty,Not-in-family,White,Male,72,0,42,United-States,<=50K
99,28,Private,291112,HS-grad,9,Never-married,Other-service,Own-child,White,Male,-81,-2,40,United-States,<=50K

In [19]:
from sklearn.linear_model import RidgeClassifier
tvae.eval_ml(real_data=real_data, target_name='sex', task='classification', model=RidgeClassifier(), metrics=['classification_report'])

{'real': {'classification_report':               precision    recall  f1-score      support
  0              0.775424  0.736077  0.755238  3232.000000
  1              0.872706  0.894600  0.883517  6537.000000
  accuracy       0.842154  0.842154  0.842154     0.842154
  macro avg      0.824065  0.815338  0.819378  9769.000000
  weighted avg   0.840521  0.842154  0.841077  9769.000000},
 'fake': {'classification_report':               precision    recall  f1-score      support
  0              0.187500  0.002785  0.005488  3232.000000
  1              0.668450  0.994034  0.799360  6537.000000
  accuracy       0.666087  0.666087  0.666087     0.666087
  macro avg      0.427975  0.498409  0.402424  9769.000000
  weighted avg   0.509331  0.666087  0.536714  9769.000000}}